body {
    
    color:aliceblue;
    font-family: "Kode Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

p {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Acme", serif;
    font-weight: 700;
}

.logo {
    width: 20em;
}

.character {
    width: 500px;
}

.cereal {
    margin-top:4rem;
    width: 600px;
}

.nav-bar-wrapper {
    padding-top:2rem;
}

.nav-bar {
    background: radial-gradient(ellipse farthest-corner at 0% 0%, #40B4E5, #1e5288 133%);
    box-shadow: 10px 10px 50px #44497a;
    z-index:100;
    position:relative;
}

.nav-items{
  
}

.nav-items a{
    padding-top:20px;
    padding-left:40px;
    text-decoration:none;
    font-weight:bold;
    color:white;
    font-size:20px;
}

.nav-items a:hover{
    color:rgb(255, 196, 0);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .nav-items {
    padding-top: 90px;
  }

  .content{
    position:inherit;
    z-index:50;
  }

.home-page-slat{
  
    background: radial-gradient(ellipse farthest-corner at 0% 0%, #40B4E5, #1e5288 133%);
    /*background: radial-gradient(ellipse farthest-corner at 0% 0%, #280941, #651886 133%);*/
    height: 48vw;
    max-height: 42em;
    min-height: 32em;
    overflow:hidden;
    background-size: cover;
    z-index:20;
}

.home-page-slat > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem 2rem 2rem;
   
}

.slat-2 {
    background-image: url(../images/backgrounds/background-blue-stars.png);
}

.slat-3 {
    background-image: url(../images/backgrounds/background-bluefade.png);
}

.slat-3 > div {
    flex-direction: row-reverse;
}

.slat-4 {
    background-image: url(../images/backgrounds/Planet-scape-002.png);
}

.slat-5 {
    background-image: url(../images/backgrounds/background-purple-stars.png);
}

.slat-6 {
    background-image: url(../images/backgrounds/background-teal-stars.png);
}

.slat-7 {
    background-image: url(../images/backgrounds/background-green-stars.png);
}

.slat-8 {
    background-image: url(../images/backgrounds/Cereal-sea.jpeg);
}